@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --lighting-color: #0089b7;
  --dark-color: #003d62;
  --darker-color: #003251;
  --secondary-color: #fff700;
}
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
html{
       font-size: 62.5%;
}
html,
 body{
     font-family: "Poppins",sans-serif;
        font-weight: 300;
        line-height: 1.4;
        scroll-behavior: smooth;    
        color: white;   
}
body{
   font-size: 1.4rem;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}

header{
           background-color:  #0089b7;
}
nav{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 1rem;
}
ul{
        list-style: none;
}
a{
text-decoration: none;
       color: white;
}
nav ul{
         display: flex;
         gap: 1rem;
}
nav li{
         font-size: 1.8rem;
         border-bottom: 0.4rem transparent solid;
         transition: 0.3s ease-in-out;
        
}
nav li:hover{
         transition: 0.3s ease-in-out;
        border-bottom:0.4rem solid #fff700
       
}
.logo{
          font-size: 2rem;
             font-weight: 700;
}
#hero{
        background-color: #003251;
       border-bottom: 4px solid #0089b7;
        padding: 4rem 0;
}
#hero .container{
       display: flex;
       justify-content: space-around;
       align-items: center;
}
.hero-content{
       display: grid;
       place-items: center;
}
#hero h1{
       font-size: 3rem;
       font-weight: bold;
}
.hi-text{
       
          font-size: 6rem;
          font-weight: bold;
          color: #fff700;
}
.name-text{
       font-size: 5rem;
}
#hero h2{
     font-size: 3rem;
     font-weight: bold;
     overflow: hidden;
     border-right: 0.15em solid orange;
     white-space: nowrap;
     margin: 0 auto;
     animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite ;
}

@keyframes typing{
          from{
              width: 0;
          }
          to{

              width: 100%;
          }
}
@keyframes blink-caret{
          from,
          to{
              border-color: transparent;
          }
          50%{

              border-color: orange;
          }
}
   /* project section */
   #project{
       background-color: #003251;
   }
   #project h2{
          font-size: 6rem;
          text-align: center;
          padding: 2rem 0;
   }
   .project-container{
           display: grid;
           grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
           gap: 2rem;
   }
   .grid-item{
         display: grid;
         place-items: center;
   }
   .card{
          width: 320px;
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          overflow: hidden;
       transition: 0.2s ease-in-out;
   }
   .card:hover{

         transform: scale(1.05);
         transition: 1s ease-in-out;
   }
.card:hover img{
           transform: scale(1.05);
           transition: 0.3s ease-in-out;
           opacity: 0.8;
}
.project-content{

          padding: 2rem;
        
          position: relative;
          top: -6.5rem;
          margin-bottom: -6.5rem;
          transition: 0.5s ease-in-out;
          transform: translateY(100px);
}
 .card:hover .project-content{
         background-color: white;
         color: #003251;
         transform: translateY(0px);
 }

.card-content h3{
          text-align: center;
}
     
       /* contact section */
       #contact{
              background-color: #003d62;

       }
       #contact h2{

              font-size: 6rem;
              text-align: center;
              margin: 2rem 0;
       }
       #contact .container{
                  height: 90vh;
                  display: flex;
                  flex-direction: column;
                  gap: 4rem;
                  justify-content: center;
       }
       .top-contact{
              max-width: 800px;
                 display: grid;
                 grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
                 margin: 0 auto;
                 gap: 4rem;
       }
       .contact-way{
              display: flex;
              /* gap:1rem; */
              align-items: center;
       }
       .contact-way i{
                font-size: 3rem;
       }
       .contact-way h3{
                font-size: 3rem;
                font-weight: bold;

       }
       .bottom-contact{
              max-width: 400px;
              gap: 5rem;
                 display: grid;
                 grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
                 margin: 0 auto;
       }
       footer{
               background-color: #003251;
               padding: 2rem;
               color: white;
               font-size: 1.6rem;
               text-align: center;
       }
       @media(max-width:786px){
                 html{
                        font-size: 40%;
                 } 
                 #hero .container{
                        flex-direction: column;
                 }
                 .hero-image{
                          display:grid;
                          place-item:center;
                 }

           #contact .container{
                     height: 70vh;
                 }
       }
       @media(max-width:500px){
                 html{
                        font-size: 32%;
                 }
                 #hero .container{
                        flex-direction: column;
                 }
                 .hero-image{
                          display:grid;
                          place-item:center;
                 }
                 #contact .container{
                     height: 50vh;
                 }
       }